@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

/* RESET DO CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
}

header {
    background-color: rgb(137, 182, 201);
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
}

main {
    flex: 1;
    background-color: rgb(238, 231, 223);
    padding: 48px 38px;
}

footer {
    background-color: rgb(218, 201, 181);
    color: rgb (146, 97, 75);
    text-align: center;
    padding: 0.1rem;
    width: 100%;
}

footer p {
    font-size: 1rem;
}

#sobre-mim {
    font-size: 25px;
    display: block;
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 10px;
}

#titulo-sobre-mim {
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    color: rgb(146, 97, 75);
    margin-bottom: 16px;
    border-bottom: 2px solid rgb(218, 201, 181);
}

.texto-sobre-mim {
    font-family: Calibri;
    font-size: 17px;
}

#contato {
    font-size: 17px;
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 10px;
}

#contato h3 {
    text-align: center;
    color: rgb(146, 97, 75);
    margin-bottom: 8px;
    font-size: 20px;
}

#contato p {
    font-family: Calibri;
    text-align: center;
    font-size: 17px
}

#contato a {
    color: rgb(137, 182, 201);
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: bold;
    font-style: italic;
}

#contato a:hover {
    color: rgb(218, 201, 181);
    transform: translateY(2px);
}

#pagina-de-testes {
    font-size: 17px;
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 10px;
}

#pagina-de-testes h3 {
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    text-align: center;
} 

#pagina-de-testes a {
    color: rgb(137, 182, 201);
    text-decoration: none;
    transition: all 0.3 ease;
}

#pagina-de-testes a:hover {
    color: rgb(218, 201, 181);
    transform: translateY(2px);
}
